//body
$body-bg: #fff;
$body-color: #111;

//navbar
$navbar-dark-active-color: #61dafb;
$navbar-dark-hover-color: #61dafb;
$navbar-dark-disabled-color: #fff;
$navbar-dark-color: #fff;

//color
$blue: #61dafb;

//button


