.vds-as__container {
    height: 760px;

}

.vds-as__h2 {
    color: #292d34;
    margin-top: 80px;
    font-weight: 400;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.vds-as__row_block_one {
    width: 1100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.vds-as__video_basic {
    width: 440px;
    height: 247px;
    background-color: #292d34;
    margin: 20px auto 50px auto;
}

.vds-as__video_basic {
    width: 440px;
    height: 247px;
    background-color: #292d34;
    margin: 20px auto 50px auto;
}

.vds-as__video_advanced {
    width: 440px;
    height: 247px;
    background-color: #292d34;
    margin: 20px auto 50px auto;
}

.col__basic {
    width: 247px;
}

.vds-as__video_play {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
}

.vds-as__video_play-icon {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 20px;
    background-color: #61dafb;
    height: 30px;
    width: 30px;
    clip-path: polygon(0 0, 100% 50%, 0 100%, 0 0);
}

.vds-antifrod_p {
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}

