.vds-reviews__container {
    height: 490px;
    background-color: #61dafb;
    margin-top: 40px;
}

.vds-reviews__h2 {
    color: white;
    margin-top: 40px;
    font-weight: 400;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.vds-reviews__link {
    color: white;
    font-size: 20px;
}

.vds-reviews__link:hover {
    color: white;
    font-size: 20px;
}

.vds-reviews__text {
    color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.vds-reviews__carousel_margin {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}

.carousel-control-prev-icon {
    width: 80px;
    height: 80px;
    background-image: url(./icon/left-arrow.png)

}

.carousel-control-next-icon {
    width: 80px;
    height: 80px;
    background-image: url(./icon/right-arrow.png)
}




