.vds-info__container {
    height: 700px;
}

.vds-info__h2 {
    color: #292d34;
    margin-top: 100px;
    font-weight: 400;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.vds-info__row_block_one {
    margin-top: 50px;
    width: 530px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.vds-info__h3:hover {
    cursor: pointer;
}

.vds-info__row_block_border-hardware {
    background-image: linear-gradient(to left, darkgray 64%, #61dafb 36%);
    background-size: 100% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.vds-info__row_block_border-os {
    background-image: linear-gradient(to right, darkgray 0%, darkgray 36%, #61dafb 36%, #61dafb 64%, darkgray 64%, darkgray 100%);
    background-size: 100% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.vds-info__row_block_border-browser {
    background-image: linear-gradient(to right, darkgray 64%, #61dafb 36%);
    background-size: 100% 2px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.vds-info__h3 {
    font-size: 22px;
    font-weight: 400;
    color: darkgray;
}

.vds-info__h3_active {
    color: #61dafb;
    font-weight: 400;
}

.vds-info__p {
    font-size: 18px;
    margin-top: 20px;
}

.vds-info__h3:hover {
    cursor: pointer;
    color: #61dafb;
}

.vds-info__row_block_two {
    margin-top: 30px;

}

.vds-info__img {
    width: 700px;
    height: 431px;
}

.vds-info__img_margin {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.vds-info__icon_bios {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.vds-info__icon_acpi {
    width: 80px;
    height: 80px;
    margin-top: 32px;
    margin-bottom: 58px;
}

.vds-info__icon_vm {
    width: 95px;
    height: 88px;
    margin-top: 30px;
    margin-bottom: 50px;
}